// COLORS

@background_color:  #110044;

@clean_color:       #33FF55;
@salty_color:       #FF2200;




body{
  background-color: @background_color;
}


#home{
  background: linear-gradient( 180deg, @clean_color, @clean_color 30%, @background_color 70%, @background_color );
}
