@import '../../less/vars';

#weather {
    #weather-summary {
        .weather-overview {
            background-color: white;
            color: black;
            height: 215px;
            padding: 20px;
            position: relative;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
            h3.weather-location {
                text-transform: uppercase;
                margin : 0;
                padding-top: 5px;
                margin-bottom : 5px;
            }
            .overview-content {
                display:flex;
                flex-direction: row;
                justify-content : space-around;
                align-items : flex-start;
                .overview-info {
                    padding-top: 25px;
                }
                .image-container {
                    min-height : 150px;
                    min-width : 150px;
                    width : 50%;
                    .icon {
                        font-size : 150px;
                        line-height : 100%;
                        color: @dark_grey;
                    }
                }
                p {
                    margin : 0;
                }
                .temperature {
                    font-size: 36px;
                      margin: 12px 0 0;
                      font-weight: 500;
                      color: @trim_color;
                      font-weight: 200;
                }
                .weather-type,
                .weather-updated {
                    font-size: 12px;
                    margin: 0;
                    color: @trim_color;
                    clear: right;
                }
            }
        }
        
        .weather-table {
            table {
                padding: 20px 0px 50px 40px;
                background-color: rgba(241, 241, 242, 1);
                width : 100%;
                tr {
                    border-bottom : 1px solid white;
                    margin-left: 20px;
                    td.label {
                        line-height: 1.5;
                        font-weight: 700;
                        color:black;
                        text-transform: lowercase;
                    }
                    td.value p {
                        color:@dark_grey;
                        text-transform: lowercase;
                    }
                    p {
                        margin-top : 10px;
                        margin-bottom : 10px;
                        margin-left : 5px;
                    }
                }
            }
        }
    }
}