@import '../../less/vars';

#weather {
    #weather-summary {
        .weather-overview {
            display:flex;
            flex-direction: row;
            justify-content : space-around;
            align-items : center;
            background-color: white;
            color: black;
            .image-container {
                min-height : 200px;
                width : 50%;
                img {
                    height: 100%;
                    width : 100%;
                }
            }
            p {
                margin : 0;
            }
        }
        .weather-table {
            table {
                width : 100%;
                border : 1px solid white;
                tr {
                    td {
                        
                    }
                }
            }
        }
    }
}