@import './vars.less';

.add-eddi-button{
  color: white;
  cursor: pointer;
  background-color: @trim_color;
  width: 160px!important;
  padding: 10px 30px;
  color: white;
  margin: 8% 33%;
  text-align: center!important;
}
