@import './vars';

@import './forms';



// STYLES

html, body{
  margin: 0;
  padding: 0;
}

body {
  background-color: @background_color;
  color: white;
}

* {
  box-sizing: border-box;
}

.page{
  padding-top: @navbar_height;
}


.dark{
  background-color: @background_color;
}

.light {
  background-color: @support_color;
}
