.eddi-list-item{
  display: block;
  background-position: center;
  background-size: cover;
  text-decoration: none;
  color: white;
  font-size: 17px;
  text-shadow: 1px 1px 4px black;

  .eddi-item-overlay{
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,0.2);
    line-height: 100px;
    text-align: center;
  }

}
