@import './vars';


form{
  input {
    display: block;
    width: 100%;
    margin: 20px 0;
    background: transparent;
    border: 0;
    padding: 4px 12px;
    opacity: 0.8;
    font-size: 18px;
    transition: opacity 0.3s ease;
    font-style: italic;

    &:focus{
      opacity: 1;
      outline: none;
    }
    &:-webkit-autofill{
      -webkit-box-shadow: 0 0 0 1000px #EEE inset;
    }
  }


  button{
    background-color: transparent;
    padding: 8px 24px;
    font-size: 16px;
    border: 0;
    color: white;


    &.cancel{
      background-color: @salt_red;
    }
  }

}



.light{
  input{
    color: @dark_color;
    border-bottom: 1px solid @dark_color;
  }
}

.dark{
  input{
    color: @light_color;
    border-bottom: 1px solid @light_color;
  }
}
