
// spaced 45px in the x, with 41 for the first

.sprite{
  background-image: url('/assets/final-sprites.png');
  background-repeat: no-repeat;
  height: 35px;
  width : 35px;
  &.home{
    background-position: -9px -10px;
    &.green{
      background-position: -60px -10px;
    }
  }

  &.dashboard {
    background-position : -7px -81px;
    &.green {
      background-position : -57px -81px;
    }
  }

  &.settings {
    background-position : -7px -150px;
    &.green {
      background-position : -57px -150px;
    }
  }

  &.troubleshoot {
    background-position : -2px -293px;
    &.green {
      background-position : -52px -293px;
    }
  }

  &.report {
    background-position : -5px -223px;
    &.green {
      background-position : -55px -213px;
    }
  }

  &.weather {
    background-position : -7px -411px;
    &.green {
      background-position : -54px -411px;
    }
  }

  &.profile {
    background-position : -6px -474px;
    &.green {
      background-position : -53px -474px;
    }
  }

  &.arrow {
    &.down {
      background-position : 0px -420px;
      &.faded {
        background-position : -55px -420px;
      }
    }
    &.up {
      background-position : 0px -365px;
      &.faded {
        background-position : -55px -365px;
      }
    }
    &.right {
      background-position : -200px -508px;
      &.faded {
        background-position : -55px -460px;
      }
    }
  }

  &.camera {
    background-position : -207px -295px;
  }

  &.csv {
    background-position : -207px -425px;
    &.faded {
      background-position : -207px -362px;
    }
  }

  &.pdf {
    background-position : -255px -425px;
    &.faded {
      background-position : -255px -362px;
    }
  }

  &.salinityIn{
    background-position: -109px -81px;
    &.faded {
      background-position : -109px -10px;
    }
    &.bad {
      background-position : -109px -222px;
      &.faded {
        background-position : -109px -149px;
      }
    }
  }

  &.salinityOut{
    background-position: -155px -81px;
    &.faded {
      background-position : -155px -10px;
    }
    &.bad {
      background-position : -155px -222px;
      &.faded {
        background-position : -155px -149px;
      }
    }
  }
  
  &.salinityRec{
    background-position: -155px -81px;
    &.faded {
      background-position : -155px -10px;
    }
    &.bad {
      background-position : -155px -222px;
      &.faded {
        background-position : -155px -149px;
      }
    }
  }

  &.flow{
    background-position: -209px -81px;
    &.faded {
      background-position : -209px -10px;
    }
    &.bad {
      background-position : -209px -222px;
      &.faded {
        background-position : -209px -149px;
      }
    }
  }

  &.power{
    background-position: -253px -81px;
    &.faded {
      background-position : -253px  -10px;
    }
    &.bad {
      background-position: -253px -222px;
      &.faded {
        background-position: -253px -149px
      }
    }
  }

  &.empty {
    background-position : 25px 25px;
  }

  &.burger {
    height: 48px;
    width : 48px;
    background-position : -104px -473px;
    &.dark {
      background-color: white;
      background-position : -150px -473px;
    }
  }

  &.circle{
    height: 60px;
    width : 60px;
    background-position : -312px -420px;

    &.blue {
      background-position : -312px -355px;
    }
  }

}
