
// spaced 45px in the x, with 41 for the first

.sprite{
  background-image: url('/assets/final-sprites.png');
  background-repeat: no-repeat;
  height: 35px;
  width : 35px;
  &.home{
    background-position: -9px -10px;
    &.green{
      background-position: -60px -10px;
    }
  }

  &.dashboard {
    background-position : -7px -81px;
    &.green {
      background-position : -57px -81px;
    }
  }

  &.settings {
    background-position : -7px -150px;
    &.green {
      background-position : -57px -150px;
    }
  }

  &.troubleshoot {
    background-position : -2px -293px;
    &.green {
      background-position : -52px -293px;
    }
  }

  &.report {
    background-position : -5px -223px;
    &.green {
      background-position : -55px -223px;
    }
  }

  &.weather {
    background-position : -7px -411px;
    &.green {
      background-position : -54px -411px;
    }
  }

  &.profile {
    background-position : -6px -474px;
    &.green {
      background-position : -53px -474px;
    }
  }

  &.arrow {
    &.down {
      background-position : -259px -467px;
    }
    &.up {
      background-position : -205px -467px;
    }
    &.right {
      background-position : -200px -508px;
    }
  }

  &.csv {
    background-position : -205px -424px;
    &.faded {
      background-position : -205px -363px;
    }
  }

  &.pdf {
    background-position : -254px -424px;
    &.faded {
      background-position : -254px -362px;
    }
  }

  &.salinityIn{
    background-position: -105px -81px;
    &.faded {
      background-position : -105px -10px;
    }
    &.bad {
      background-position : -305px -81px;
      &.faded {
        background-position : -305px -10px;
      }
    }
    &.none {
      background-position : -105px -223px;
      &.faded {
        background-position : -105px -150px;
      }
    }
  }

  &.salinityOut{
    background-position: -155px -81px;
    &.faded {
      background-position : -155px -9px;
    }
    &.bad {
      background-position : -355px -81px;
      &.faded {
        background-position : -355px -9px;
      }
    }
    &.none {
      background-position : -155px -223px;
      &.faded {
        background-position : -155px -149px;
      }
    }
  }
  
  &.salinityRec{
    background-position: -260px -81px;
    &.faded {
      background-position : -260px -10px;
    }
    &.bad {
      background-position : -461px -81px;
      &.faded {
        background-position : -461px -10px;
      }
    }
    &.none {
      background-position : -260px -223px;
      &.faded {
        background-position : -260px -149px;
      }
    }
  }

  &.flow{
    background-position: -209px -81px;
    &.faded {
      background-position : -209px -10px;
    }
    &.bad {
      background-position : -409px -81px;
      &.faded {
        background-position : -409px -10px;
      }
    }
    &.none {
      background-position : -209px -223px;
      &.faded {
        background-position : -209px -149px;
      }
    }
  }

  &.power{
    background-position: -253px -81px;
    &.faded {
      background-position : -253px  -10px;
    }
    &.bad {
      background-position: -253px -222px;
      &.faded {
        background-position: -253px -149px
      }
    }
  }

  &.empty {
    background-position : 25px 25px;
  }

  &.burger {
    height: 48px;
    width : 48px;
    background-position : -104px -473px;
    &.dark {
      background-color: white;
      background-position : -150px -473px;
    }
  }

  &.small.warning {

    background-position : -307px -547px;
    height: 40px;
    width : 40px;
    position: relative;
    &::before {
      content : "!";
      color: white;
      position: absolute;
      top : 12px;
      left : 17px;
      font-size: 20px;
    }
  }

  &.circle{
    height: 60px;
    width : 60px;
    background-position : -312px -420px;

    &.blue {
      background-position : -312px -355px;
    }

    &.warning {
      background-position : -384px -420px;
    }
  }

}
