@import './vars.less';

.status-bar {
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    padding : 8px;
    p {
        margin : 0;
    }
}