@import './vars.less';

.status-bar {
	background-color: white;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    padding : 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    p#state {
    	float: right;
        padding: 20px;
        color: @dark_grey;
    }
}