@import '../../less/vars';

#home{
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  background: linear-gradient( 0deg, @trim_color, @dark_color 30%, @dark_color );

  .content{
    margin: 60px 30px;
    text-align: center;

    .logo{
      background-image: url('/assets/logo.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 80px;
      margin-bottom: 20px;
    }

    .auth-button {
      display: block;
      padding: 10px 30px;
      color: white;
      text-decoration: none;
      cursor: pointer;
    }



  }
}
