@import '../../less/vars';

#home{
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  background: linear-gradient( 0deg, @trim_color, @dark_color 30%, @dark_color );

  .content{
    margin: 60px;
    text-align: center;

    .logo{
      background-image: url('https://kingsexperience.files.wordpress.com/2015/06/ks-new-logo-bw-blank-bg-off-white-text.png?w=300');
      height: 80px;
      margin-bottom: 20px;
    }

    .auth-button {
      display: block;
      padding: 10px 30px;
      color: white;
      text-decoration: none;
      cursor: pointer;
    }



  }
}
