@import '../../less/vars';


#dashboard{

  .dashboard-menu{
    width: 100%;

    a {
      display: inline-block;
      width: 25%;
      height: 72px;
      background-color: @light_color;
      color: @trim_color;
      text-decoration: none;
      text-align: center;
      padding-top: 42px;
      background-image: url('http://orig14.deviantart.net/f231/f/2015/030/6/c/salt_shaker_pixel_by_alfvie-d8g1phq.png');
      background-size: 12px 20px;
      background-position: center 16px;
      background-repeat: no-repeat;
      text-transform: uppercase;
      font-size: 15px;
      &.active {
        background-color: white;
      }
    }
  }

  .dashboard-view{
    h1{
      font-weight: normal;
      text-transform: uppercase;
      font-size: 18px;
      margin-top: 0;
    }
    .dashboard-current{
      padding: 20px;
      position: relative;

      .dashboard-current-numbers{
        padding-right: 20px + 100px + 20px;
        height: 20px + 100px + 20px;

        h3{
          font-size: 36px;
          margin: 12px 0 0;
        }
        p{
          font-size: 12px;
          margin: 0;
        }
      }
      .salinity-graph{
        position: absolute;
          top: 20px;
          right: 20px;
      }
      .dashboard-note{
        margin-top: 0px;
        font-size: 12px;
        line-height: 20px;
      }
    }

    .historical-graph{
      background-color: white;
      color: @dark_color;
      padding: 20px;

      .historical-selector{
        .historical-selection{
          display: inline-block;
          text-align: center;
          width: 33%;
        }
      }

    }

  }





}
