@import '../../less/vars';

#troubleshoot {
	min-height : 100vh;
	.content {
		height: 100%;
		.sprite {
			position: relative;
			& > span {
				position : absolute;
				top: 40%;
				right : 45%;
				color: white;
			}
		}
		.image-container {
			display: flex;
			justify-content : center;
			align-items : center;
			flex-direction : row;
			padding : 10px;
		}
		.cycle-list {
			background-color: white;
			padding-bottom : 10px;
			.cycle {
				padding: 10px 20px;
				color: black;
				text-transform: lowercase;
				display: flex;
				flex-direction : row;
				align-items : center;
				& p {
					margin-left : 10px;
					font-size: 18px;
				}
				&.active{
					color : @true_blue;
					& p {
						border-bottom : 3px solid @true_blue;
					}
				}
			}
		}

		.troubleshoot-image {
			background-image: url("/assets/troubleshoot.svg");
			background-repeat: no-repeat;
			background-position: center center;
			background-size : auto 250px;
			height : 400px;
			position : relative;
			.image-footer {
				position : absolute;
				bottom : 0;
				right : 0;
				padding : 10px;
			}
		}

		.troubleshoot-header {
			background-color: white;
			padding-left: 30px;
			padding-right: 20px;
			padding-top: 10px;
			padding-bottom : 20px;

			h3 {
				color: black;
				margin : 0;
				font-weight: 200;
				margin-bottom : 10px;
			}
			p {
				color: @light_color;
				margin : 0;

				&.troubleshoot-warning {
					text-align : right;
				}
			}
		}
	}

	
	
}